<div class="background">
  <div class="container">
    <h1 class="title-header">Dashboard</h1>
    <div class="d-flex mr-3 ml-3">
      <div class="dash-divider mt-5 p-2">
        <div class="dash-card dash-profile">
          <div class="d-flex justify-content-between mb-3 mt-1">
            <%= cl_image_tag current_user.avatar, width: 100, height: 100, crop: :fill, class: 'avatar-large' %>
            <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
            <i class="fas fa-edit"></i>
          </div>
          <p><%= current_user.description %></p>
          <div class="d-flex justify-content-end mr-2">
            <strong><%= current_user.city %></strong>
          </div>
        </div>

        <div class="instrument-container container mt-5">
          <% if current_user.instruments %>
            <h2>Your instruments</h2>
            <%= link_to new_instrument_path do %>
              <i class="fas fa-plus rotater"></i>
            <% end %>
            <div class="row justify-content-around">
              <% current_user.instruments.each do |instrument| %>
                  <div class="instrument-card mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('<%= cl_image_path instrument.photo, height: 300, width: 400, crop: :fill %>')">
                  </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="dash-divider mt-5 p-2">
        <h2 class="booking-header">Your rentals</h2>
        <% if current_user.rentals %>
          <% current_user.rentals.each do |rental| %>
            <div class="dash-card dash-booking col-12 p-3" >

              <h4><%= rental.instrument.name %></h4>
              <div class="d-flex justify-content-between align-items-center">
                <% if rental.status == "pending" %>
                  <div class="d-flex">
                    <button class="btn btn-warning btn-sm pl-3 pr-3 mr-1">Accept</button>
                    <button class="btn btn-danger btn-sm pl-3 pr-3">Reject</button>
                  </div>
                <% end %>
                <%= cl_image_tag rental.user.avatar, width: 100, height: 100, crop: :fill, class: 'avatar-large' %>
                <p>Renter: <strong><%= rental.user.first_name %> <%= rental.user.last_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



      <div class="dash-divider mt-5 p-2">
        <h2 class="booking-header">Your bookings</h2>
        <% if current_user.bookings %>
          <% current_user.bookings.each do |booking| %>
            <div class="dash-card dash-booking col-12 p-3" >
              <h4><%= booking.instrument.name %></h4>
              <div class="d-flex justify-content-between align-items-center">
                <% if booking.status == "pending" %>
                  <span class="badge badge-info">Pending</span>
                <% elsif booking.status == "accepted" %>
                  <span class="badge badge-success">Accepted</span>
                <% elsif booking.status == "rejected" %>
                  <span class="badge badge-danger">Rejected</span>
                <% end %>
                <%= cl_image_tag booking.instrument.user.avatar, width: 100, height: 100, crop: :fill, class: 'avatar-large' %>
                <p>Owner: <strong><%= booking.instrument.user.first_name %> <%= booking.instrument.user.last_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
