<div class="instrument-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "instruments.jpg" %>');">
  <div class="container ">
    <div class="card-product instrument-detail">
      <img src="<%= cl_image_path @instrument.photo, crop: :fill, height: 400 %>">
      <div class="card-product-infos">
        <h2 class="instrument-detail"><%= @instrument.name %></h2>


        <p><i class="fas fa-music"> </i> <%= @instrument.category.capitalize %></p>
        <p><i class="fas fa-map-marked-alt"> </i> <%= @instrument.location.capitalize %></p>
        <p><i class="fas fa-comment-dots"> </i><br> <%= @instrument.description %></p>
        <div class="price-detail">
          <p><strong> <%= @instrument.price_per_day%> €/day</strong></p>
        </div>

        <div class="calendar-all">
          <div class="calendar-booking">
            <%= simple_form_for [@instrument, @booking] do |f| %>
              <%= f.input :startdate, label: "Start date" %>
              <%= f.input :enddate, label: "End date" %>
              <%= f.submit 'Book now!', class: "btn btn-warning btn-forms" %>
            <% end %>
          </div>
        </div>

        </div>
      </div>
    </div>

  </div>


</div>
